
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field>
            <mat-label>Nom de compte</mat-label>
            <input matInput placeholder="Nom de compte..." formControlName="name" type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput placeholder="Mot de passe..." formControlName="password" type="password">
        </mat-form-field>

       <a href="https://www.google.com" target="_blank"><small>mot de passe oublié ?</small></a>

        <button [disabled]="!loginForm.valid" type="submit">Connexion</button>
    </div>
</form>