form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    background-color: var(--firstColorDarker);
    border-radius: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid var(--secondColor);
}

form h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
}

form h1 span {
    color: var(--secondColor);
}

mat-label {
    color: var(--notPureWhite);
    border-bottom: var(--secondColor) 2px solid;

}

mat-form-field {
    margin-bottom: 50px;

}

mat-hint {
    color: var(--secondColor);
}


input::placeholder {
    color: var(--notPureWhite);
    opacity: 0.88;

}

input {
    color: var(--notPureWhite);
    padding: 10px;
}

input[type="file"] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100% - 50px);

}

form button {
    padding: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: var(--secondColor);
    color: var(--notPureWhite);
    text-transform: uppercase;
    font-weight: 500;
}

@media only screen and (max-width: 990px){

    form {
        width: calc(100% - 80px);
    }

}