form {
    background-color: #fff;
    border: solid 3px var(--secondColor);
    color: black;
    display: grid;
    place-content: center;
    width: fit-content;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

mat-radio-group {
    display: grid;
}

button {
    background-color: var(--secondColor);
    color: white;
}