img.missingPlayer{
    height: 3em;
    width: 3em;
    margin-bottom: 3px;
}

#missingBlock{
    font-style: italic;
    color: var(--orangeWarning);
}

.ranksIcon{
    justify-content: center;
    width: 4em;
    height: 4em;
}



.listOfTeams{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.teamContainer{
    margin: 0 13px;
}

div.teamInfo{
    display: flex;
    color: var(--notPureWhite);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    width: 258px;
    height: 258px;
    border-radius: 15px;
    background-color: var(--secondColorDarker);
    transition: ease-in-out 0.3s;
    font-weight: 500;

}

div.teamInfo{
    margin-top: auto;
}

div.teamInfo:hover{
    background-color: var(--secondColor);
    color: var(--firstColorDarker);
}

#profilTeam{
    margin-left: 6px;
    align-items: center;
}

div.teamInfo:hover{
    cursor: pointer;
}

div.teamPlayers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--firstColorDarker);

    width: 165px;


}

div.teamPlayers:first-child{
    border-radius: 0px 0px 0px 5px;
}

div.teamPlayers:last-child{
    border-radius: 0px 0px 5px 0px;
}







div.teamInfo a:hover{
    cursor: pointer;
}

div.teamInfo a img{
    width: 0.5em;
    height: 0.5em;
    margin-right: 7px;
}



#teamLogo{
    width: 120px;
    height: 120px;
    margin-bottom: 25px
}



@media only screen and (max-width: 990px){
    div.listOfTeams{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}