img.missingPlayer{
    height: 3em;
    width: 3em;
    margin-bottom: 3px;
}

#missingBlock{
    font-style: italic;
    color: var(--orangeWarning);
}

.ranksIcon{
    justify-content: center;
    width: 4em;
    height: 4em;
}

div.teamContainer{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
   
}

div.playersContainer{
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
    height: 100px;

 
}



div.teamInfo{
    margin-bottom: 10px;
    background-color: var(--navColorDarker);
    width: 100%;

    

   

}

div.teamInfo:hover{
    background-color: var(--teamHover);
    border: 1px solid black;
    color: black;

}

#profilTeam{
    margin-left: 6px;
    align-items: center;
}

div.teamInfo:hover{
    cursor: pointer;
}

div.teamPlayers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--navColor);

    width: 165px;


}



div.teamInfo{
    display: flex;
    flex-direction: column;
    padding: 7px;
    justify-content: baseline;
}

div.teamInfo a{
    align-self: flex-end;
    text-decoration: none;
    color: white;
    
}

div.teamInfo a:hover{
    cursor: pointer;
}

div.teamInfo a img{
    width: 0.5em;
    height: 0.5em;
    margin-right: 7px;
}

div.teamInfo{
    border: 1px solid white;
}