<div *ngIf="teams" class="listOfTeams">
    <div class="teamContainer" *ngFor="let team of teams">
        <div class=" teamInfo" (click)="onSelect(team.id)">
            <img src="{{ team.logo }}" alt="logo" id="teamLogo" *ngIf="team.logo">
            <img src="../../assets/ndls_blue_face" alt="logo" id="teamLogo" *ngIf="!team.logo">
            {{ team.name | uppercase }}
        </div>
    </div>
</div>

<div *ngIf="teams.length === 0" class="noTeam">
    <img src="../../assets/ndls_white.png" alt="ndls" class="ndls">
    <span>Aucune équipe pour le moment.</span>
</div>
