.teamInformations{
    color: var(--firstColorDarker);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamName{
    font-weight: 700;
    letter-spacing: 0.13em;
    display: flex;
    flex-direction: column;
}

#teamLogo{
    width: 125px;
    height: 125px;
    margin: 20px;
    
}

.teamButtons a {
    margin-left: 10px;
    font-size: 1em;
}

.teamButtons a:hover{
    cursor: pointer;
}

.Informations{
    color: var(--firstColor);
}

span#roster{
    margin-left: 7px;
}

div.roster{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
}

div.infos{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
}

div.playerInfos{
    width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--firstColorDarker);
    font-weight: 600;
}

div.player{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    color: var(--firstColorDarker);
    text-transform: uppercase;
    width: 20%;
    align-items: center;
    justify-content: center;
}

span#name{
    margin-top: auto;
    padding: 5px;
}

fa-icon.missing{
    font-size: 100px;
}

div.playerOfRosterMissing{
    display: flex;
    flex-direction: column;

}


span{
    font-weight: 600;
}


.missing:hover{
    cursor: pointer;
}

.profilePicture{

    height: 100px;
    width: 100px;
    border-radius: 50%;


}

.isCaptain{
    border: solid 5px var(--secondColor);
}

.ranksIcon{

    height: 75px;
    width: 75px;
}

.rolesIcon {
    height: 35px;
    width: 35px;
}

.rosterTag{
    font-size: 1.2em;
    color: var(--secondColorDarker);
}

.faUser {
    size: 50px;
}

img.rolesIcon{
    margin-top: 15px;
}

button#banBtn{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: var(--redColor);
    border: none;

}

button#banBtn:hover{
    font-weight: 500;
}
button#inviteBtn{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(75, 182, 75);
    border:none;

}
button#inviteBtn:hover{
    font-weight: 500;
}



div.buttons{
    display: flex;
    align-items: baseline;
    margin-top: 10px;

}

.teamLinks{
    color: var(--firstColor);
    margin: 7px;
}




fa-icon.captain{
   color: var(--secondColor);
   font-size: 1.2em;
}

div.captain{
    background-color: var(--secondColor);
    border: none;
    letter-spacing: 2px;
    font-weight: 400;
    width: 100%;
    border-radius: none;
}

div.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9px;
}

#discord{
    font-size: 1.5em;
    margin-right: 7px;

}

#lolIcon{
    width: 1.5em;
    height: 1.5em;
    filter: invert(14%) sepia(7%) saturate(6980%) hue-rotate(207deg) brightness(93%) contrast(116%);
    margin-right: 7px;


}

.info{
    margin-top: 10px;
    display: flex;
    padding: 10px;
    border-collapse: collapse;
}

#join{
    margin-top: 25px;
}



#free{
    background-color: var(--firstColor);
    padding: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 500;
}

.captain{
    background-color: var(--firstColor);
    padding: 5px;
    border-radius: 5px;
    border: solid 1px var(--firstColorDarker);
    color: white;

}

div.info span{
    text-align: center;
}

.redWarn{
    color: var(--redWarning)
}

button.joinBtn{
    background-color: rgb(75, 182, 75);

    width: max-content;
    color: white;
}

.isPlayer:hover{
    cursor: pointer;
    border: 2px solid var(--orangeWarning);
}

.joinDemands{
   padding: 3px;
   color: var(--firstColor);
}

#crown{
    color: var(--secondColor);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    bottom: 20%;
}

div.crown{
    position: relative;
}
