<div class="container  mt-4" *ngIf="team">
    <div class="teamInformations" >
        <ng-container>
            <div class="logo mt-6" *ngIf="team.logo">
                <img src="{{ team.logo }}" alt="logo" id="teamLogo">

                <div class="teamName">
                    {{ team.abbreviation | uppercase }}<br>

                    {{ team.name | uppercase }}
                </div>
            

            </div>
            <div  class="logo" *ngIf="!team.logo">

                <img src="../../../assets/Logo_v5.png" alt="logo" id="teamLogo">

                <div class="teamName">
                    {{ team.abbreviation | uppercase }}<br>


                    {{team.name | uppercase}}
                </div>

            </div>

        </ng-container>
            
        <ng-container *ngIf="player">
            <div *ngIf="player.team" class="teamButtons">
                <ng-container *ngIf="player.team.id === team.id" >
                
                    <ng-container *ngIf="player.profile.isCaptain === true" >

                    <a   (click)="onOpenDialogUpdateTeamInfo()" class="teamLinks"><fa-icon [icon]="faPenLine"></fa-icon>Modifier</a>

                    </ng-container>

                    <ng-container *ngIf="team.players.length > 1">

                    <a   (click)="onOpenDialogLeaveTeam()" class="teamLinks redWarn"><fa-icon [icon]="faArrowRight" ></fa-icon>Quitter</a>

                    </ng-container>

                    <ng-container *ngIf="player.profile.isCaptain === true">

                    <a   (click)="onOpenDialogDeleteTeam()" class="teamLinks redWarn" ><fa-icon [icon]="faTrashCan" ></fa-icon>Supprimer l'équipe</a>

                    </ng-container>

                    

                </ng-container>
            </div>
            
        </ng-container>
    </div>

</div>

<ng-container *ngIf="team">
    <div  *ngIf="team && team.players" class="container">

        <h1 class="rosterTag">
            <fa-icon [icon]="faAngles"></fa-icon><span id="roster">ROSTER</span>
         </h1>
         <a class="joinDemands" *ngIf="player && player.team && player.team.id === team.id && player.profile.isCaptain" (click)="onOpenDialogPlayersWantingToJoin(team.id)"><fa-icon [icon]="faUserCheck"></fa-icon>Demandes d'adhésion </a>




        <div class="roster">
            <div *ngFor="let role of roles" class="player">
                <div *ngIf="this.getPlayerByRole(role)">
                        <div *ngIf="this.getPlayerByRole(role).profile.profilPicture">
                            
                            <img src="{{this.getPlayerByRole(role).profile.profilPicture}}" class="profilePicture" alt="profilePicture"  [ngClass]="{'isCaptain' : this.getPlayerByRole(role).profile.isCaptain, 'isPlayer' : player && player.profile.isCaptain && player.team.id === team.id && !this.getPlayerByRole(role).profile.isCaptain }"  (click)="onOpenDialogSetAsCaptain(this.getPlayerByRole(role).id, this.getPlayerByRole(role).name)"> 
                        </div>
                        <div *ngIf="!this.getPlayerByRole(role).profile.profilPicture">
                            <img src="../../../assets/missing_player.png" class="profilePicture" alt="profilePicture" > 
                        </div>
                        
                        <div >
                            <span id="name">{{ this.getPlayerByRole(role).name  }} </span>
                        </div>

                </div> 
                <div class="playerOfRosterMissing" *ngIf="!this.getPlayerByRole(role)" >
                    <fa-icon [icon]="faUser" class="userIcon" class="missing"></fa-icon>
                    <span id="name " class="missing"> {{ role}} manquant</span>   
                </div>

                <div [ngSwitch]="role" id="role">

                    <img src="../../../assets/Top_icon.png" alt="role" *ngSwitchCase="roleEnum.Toplaner" class="rolesIcon">
                    
                    <img src="../../../assets/Jungle_icon.png" alt="role" *ngSwitchCase="roleEnum.Jungler" class="rolesIcon">
                    
                    <img src="../../../assets/Middle_icon.png" alt="role" *ngSwitchCase="roleEnum.Midlaner" class="rolesIcon">
                    
                    <img src="../../../assets/Bottom_icon.png" alt="role" *ngSwitchCase="roleEnum.ADC" class="rolesIcon">
                    
                    <img src="../../../assets/Support_icon.png" alt="role" *ngSwitchCase="roleEnum.Support" class="rolesIcon">
                    
                    <fa-icon [icon]="faTrianglExclamation" *ngSwitchDefault></fa-icon>      
                </div>


                

            </div>
        </div>

        <ng-container *ngIf="player !== null && team !== null">
            <div class="buttons" *ngIf="player 
                    && team
                    && player.team
                    && player.team.id === team.id 
                    && player.profile.isCaptain === true">
                <div *ngFor="let role of roles" class="player">
                    <button id="banBtn" *ngIf="player 
                    && team 
                    && player.team.id === team.id 
                    && player.profile.isCaptain === true
                    && this.getPlayerByRole(role)
                    && this.getPlayerByRole(role).profile.isCaptain === false"
                    (click)="onOpenDialogDeletePlayer(this.getPlayerByRole(role).id, this.getPlayerByRole(role).name )">
                    <fa-icon [icon]="faBan"></fa-icon>  Expulser</button>

                    <button id="inviteBtn" *ngIf="!this.getPlayerByRole(role)
                    && player 
                    && team 
                    && player.team.id === team.id 
                    && player.profile.isCaptain === true" 
                    (click)="onOpenDialogSearchPlayer(role);">
                    <fa-icon [icon]="faPlus"></fa-icon>  Inviter</button>

                    <div *ngIf=" 
                    player 
                    && team 
                    && player.team.id === team.id 
                    && player.profile.isCaptain === true
                    && this.getPlayerByRole(role)
                    && this.getPlayerByRole(role).profile.isCaptain === player.profile.isCaptain" class="captain" >
                        CAPITAINE
                    </div>

                </div>
            </div>
        </ng-container>

        <div class="infos" *ngIf="team !== null">
            <div *ngFor="let role of roles" class="playerInfos">
                <div *ngIf="this.getPlayerByRole(role)" >
                    <div class="rank  " [ngSwitch]="this.getPlayerByRole(role).profile.rank">

                        <img src="../../../assets/challenger.png" alt="rank" *ngSwitchCase="rankEnum.Challenger" class="ranksIcon">
                    
                        <img src="../../../assets/grandmaster.png" alt="rank" *ngSwitchCase="rankEnum.GrandMaitre" class="ranksIcon">
                    
                        <img src="../../../assets/master.png" alt="rank" *ngSwitchCase="rankEnum.Maitre" class="ranksIcon">
                    
                        <img src="../../../assets/diamond.png" alt="rank" *ngSwitchCase="rankEnum.Diamant" class="ranksIcon">
                    
                        <img src="../../../assets/platine.png" alt="rank" *ngSwitchCase="rankEnum.Platine" class="ranksIcon">
                    
                        <img src="../../../assets/gold.png" alt="rank" *ngSwitchCase="rankEnum.Or" class="ranksIcon">
                    
                        <img src="../../../assets/silver.png" alt="rank" *ngSwitchCase="rankEnum.Argent" class="ranksIcon">
                    
                        <img src="../../../assets/bronze.png" alt="rank" *ngSwitchCase="rankEnum.Bronze" class="ranksIcon">
                    
                        <img src="../../../assets/iron.png" alt="rank" *ngSwitchCase="rankEnum.Fer" class="ranksIcon">
                    
                        <img src="../../../assets/unranked.png" alt="rank" *ngSwitchDefault class="ranksIcon">
                    
                    </div>

                    <div class="ign info">
                    <img src="../../../assets/lol_icon_svg.svg" alt="lolIcon" id="lolIcon"><span>{{ this.getPlayerByRole(role).profile.inGameName | uppercase}}</span>
                    </div>

                    <div class="discord info ">
                    
                    <fa-icon [icon]="faDiscord" id="discord"></fa-icon><span>{{ this.getPlayerByRole(role).profile.discord | uppercase}}</span>

                    </div>
                </div>
                <div *ngIf="!this.getPlayerByRole(role)">
                    <div *ngIf="!player || !player.team" id="free">
                        POSTE VACANT
                    </div>
                    
                    <div *ngIf="player">
                        <button class="btn joinBtn" *ngIf="!player.team && player.profile.role === role" id="join" (click)="onOpenDialogJoinRequest(player.id, player.name)">REJOINDRE</button>
                                           
                    </div>
                
                </div>
            </div>
        </div>
        
    </div>

   

    
        

</ng-container>



