<div class="formContainer">
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" >
        <mat-form-field>
            <mat-label>Pseudonyme</mat-label>
            <input matInput formControlName="name">
            <mat-hint class="hint">Min. 4 caractères</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse e-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password1" type="password">
            <mat-hint class="hint">Min. 4 caractères</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmation du mot de passe</mat-label>
            <input matInput formControlName="password2" type="password">
        </mat-form-field>

        <mat-error *ngIf="signUpForm.hasError('notSame')">
			Les mots de passe ne sont pas les mêmes.
		</mat-error>

      
        <input type="file" class="form-control"  accept=".png, .jpg, .jpeg" (change)="handleUpload($event)">
        <div class="img" *ngIf="logoBase64">
            <img [src]="logoBase64">
        </div>

        <mat-form-field>
            <mat-label>Discord</mat-label>
            <input matInput formControlName="discord">
            <mat-hint class="hint">ex : John#1234</mat-hint>        
        </mat-form-field>
        <mat-error *ngIf="signUpForm.hasError('notDiscord')">Ne respecte pas la struture</mat-error>
        <mat-form-field>
            <mat-label>Compte League of Legends</mat-label>
            <input matInput formControlName="inGameName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rang</mat-label>
            <mat-select formControlName="rank">
                <mat-option *ngFor="let rank of ranks" value="{{rank.name}}">{{ rank.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" value="{{role.name}}">{{ role.name }}</mat-option>
            </mat-select>
        </mat-form-field>
     
       <button type="submit" class="signUpButton">S'inscrire</button>
  </form>
</div>

