<div class="formContainer">
<form (ngSubmit)="onSubmit(f)" novalidate #f="ngForm" >
        <label for="username">Pseudonyme</label>
        <input type="text" name="username" ngModel #username="ngModel" required>
        <label for="email">Email</label>
        <input type="email" name="email" ngModel #email="ngModel" required>
        <label for="password1">Mot de passe</label>
        <input type="password" name="password1" id="password1" ngModel #password1="ngModel" required>

        <label for="password2">Confirmation du mot de passe</label>
        <input type="password" name="password2" id="password2" required ngModel #password2="ngModel">
        <label for="profilPicture">Image de profil</label>
        <input type="file" name="profilPicture" ngModel #profilPicture="ngModel">

        <label for="discord">Discord</label>
        <input type="text" name="discordname" required ngModel #discordname="ngModel">#
        <input type="number"name="discordtag" min="0000" max="9999" required ngModel #discordtag="ngModel">

        <label for="ign">Pseudonyme League of Legends</label>
        <input type="text" name="inGameName" required ngModel #inGameName="ngModel">
        <select formControlName="ranks">
            <option [ngValue]="rank" *ngFor="let rank of ranks">
                {{ rank.name | uppercase }}
            </option>
        </select>
        <select formControlName="roles">
            <option [ngValue]="role" *ngFor="let role of roles">
                {{ role.name | uppercase }}
            </option>
        </select>

    <button clas="btn btn-primary">S'inscrire</button>
  </form>
</div>