nav{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--secondColor);
}
.bg-navbar{
    background: var(--firstColorDarker);
}

nav.color-navbar a{
    color: #fff;
    text-transform: uppercase;
    justify-content: baseline;
}

nav.color-navbar a:hover{
    color: rgb(255, 255, 255);

}



.dropdownBasic1{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

div.col div div.dropdownmenu{
    background-color:#e9e9e9;
    border: solid 2px var(--secondColor);
}

a.dropdown-item:hover{
    background-color: var(--firstColor);
    color:#fff !important;
}

a.dropdown-item{
    color:var(--secondColor) !important;

}

div.col{
padding-top: 8px;
margin-left: 8px;
margin-right: 8px;
}

#navMenuIcon{
    color: white;
}

.auth{
    justify-content: flex-end;
}

a.inscr{
    background-color: var(--secondColor);
    border-radius: 5px;
    margin-right: 5px;
}

a.connect, a.deco{
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid var(--secondColor);

}

a.inscr:hover{
    background-color: var(--secondColorLighter);
    
}

.profile{

    margin-right: 130px;

    padding: 5px;

    text-align: center;


}

.profile img{
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid var(--secondColor);
}

div.profile div.dropdownmenu{
    background-color:#e9e9e9;
    border: solid 2px var(--secondColor);
    height: fit-content;
}

div.profile div.dropdownmenu  a.dropdown-item:hover{
    background-color: var(--firstColor);
    color:#fff !important;
}