div.parent {
    padding: 20px;
}

div.player {
    display: flex;
    background-color: var(--secondColorDarker);
    height: 70px;
    width: 500px;
    color: var(--notPureWhite);
    background-color: var(--firstColorDarker);
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    transition: ease-in-out .3s;
}

div.player:hover {
    background-color: var(--firstColor);
    cursor: pointer;
}

div.player:focus {
    border: 2px solid var(--secondColor)
}

div.player:first-child {
    margin-top: 0;
}

.playerPp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ranksIcon {
    width: 50px;
    height: 50px;
}

#lolIcon {
    width: 25px;
    height: 25px;
}


.icon {
    color: var(--yellowColor);
}

#lolIcon {
    filter: invert(66%) sepia(51%) saturate(285%) hue-rotate(358deg) brightness(87%) contrast(87%);
}

div.socials {
    font-size: 1.12em;
    border-left: 1px solid var(--secondColor);
    padding-left: 10px;
}

div.playerWithButton {
    display: flex;
    align-items: center;
}

button {
    padding: 10px;
    color: var(--notPureWhite);
    background-color: var(--firstColorDarker);
    border-radius: 15px;
    border: none;
    height: 100%;
    transition: ease-in-out .3s;
    margin-right: 5px;
}

button:disabled {
    opacity: 0.2;
}

button:disabled:hover {
    background-color: var(--firstColorDarker);
}

button:hover {
    color: var(--yellowColor);
}

.rolesIcon {
    width: 30px;
    height: 30px;
}

div.btn {
    display: flex;
    justify-content: space-between;
}

#decline {
    background-color: var(--redColor);
}

#decline:hover {
    background-color: var(--redColorDarker);
    color: var(--notPureWhite);
}