
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Roboto:wght@400;500&display=swap');

:root{
    --teamHover : #c4a55f;
    --orangeWarning : #c09e4d;
    --orangeWarningHover : #e9345b;
    --orangeAttention : #e4c17067;
    --redWarning: #8b2828;
    --redWarningHover: #701f1f;
    --greenColor: #65c957;
    --redColor: #e04b4b;

    --firstColor: #191970;
    --secondColor: #884DA7;

    --notPureWhite: #cfcfcf;
    --firstColorDarker: #0e0e41;
    --firstColorHover: #0a0a2c;
    --secondColorDarker: #49295a;
    --bodyColorDarker: #e4e4e4;
    --redColorDarker: #be4040;

    --firstColorLighter: #1f1f8b;
    --secondColorLighter: #a05ac5;

    --navColor : #191970;
    --bodyColor : #0b0b3f;
    


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

body{
    color: white;
    background-color: var(--bodyColor);
}

.icons{
    width: 1em;
    height: 1em;
}

html, body {
 height: 100%; 
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


fa-icon{
    margin-right: 4px;
}

.mat-dialog-container{
    padding: 0px !important;

}



.mat-dialog-container::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
}

