/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Roboto:wght@400;500&display=swap');


:root{
    --bodyColor : #E9E9E9;
    --navColor : #1d1a1a;
    --teamHover : #c4a55f;
    --navColorDarker: #0e0c0c;
    --orangeWarning : #c09e4d;
    --orangeWarningHover : #e9345b;
    --orangeAttention : #e4c17067;
    --redWarning: #8b2828;
    --redWarningHover: #701f1f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body{
    background-color: var(--bodyColor);
    color: white;
}

.icons{
    width: 1em;
    height: 1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
