<ng-container *ngIf="user">

    <div *ngIf="user.profile.isCaptain === false">
        <span>Etes-vous sûr de vouloir quitter l'équipe ?</span><br>
        <button class="btn btn-primary" (click)="leaveTeam(); close();">Confirmer</button>
        <button class="btn btn-danger" (click)="close()">Annuler</button>
    </div>

    <div *ngIf="user.profile.isCaptain === true">
        <span>Etes-vous sûr de vouloir quitter l'équipe ?</span><br>

            <form [formGroup]="setAsCaptain" (ngSubmit)="onSubmit()" id="ngForm">
                Vous devez nommer un autre capitaine avant de quitter l'équipe.<br>

                <select formControlName="newCaptain">

                <option  *ngFor="let player of playersWithoutCaptain"  value="{{ player.id }}">{{ player.profile.role }} {{ player.name }}</option>

                </select>
                <br>
                

            </form>

            <button form="ngForm" class="btn btn-primary" type="submit">Confirmer</button>
            <button class="btn btn-danger" mat-button mat-dialog-close>Annuler</button>

            
        
        
    </div>

</ng-container> 
    