div.container {
    padding: 15px;
    display: flex;
    flex-direction: column;

}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--notPureWhite);
    text-align: center;
}

h2 {
    background-color: var(--firstColorDarker);
    color: var(--notPureWhite);
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    margin-bottom: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 15px 0px 0px;
}

h1 span {
    color: var(--secondColor);
}

div.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

div.btns.between {
    justify-content: space-between;
}

#newCaptain {
    color: var(--notPureWhite);
}


div > ndls-player-element:first-child {
    border-radius: 0px 15px 15px 15px;
}




