*{
    color: var(--firstColorDarker);
}

div.players{
    margin: auto;
    width: 90%;
}


mat-header-cell{
    padding: 10px;
    background-color: var(--firstColorDarker);
    color:white;
    border-bottom: solid 3px var(--secondColor);
}

mat-cell{
    padding: 10px;
    width: max-content;
    cursor: pointer;
 
}

mat-row:hover{
    background-color: rgb(237, 237, 237);
}

::ng-deep .mat-sort-header-arrow {
    color: white;
}

