<ng-container *ngIf="freePlayers && freePlayers.length > 0">
    <h1 *ngIf="freePlayers.length > 0; else elseBlock">JOUEURS DISPONIBLES POUR LE POSTE DE {{ data.role | uppercase }} </h1>
    <ng-template #elseBlock><h1> JOUEUR DISPONIBLE  POUR LE POSTE DE {{ data.role | uppercase }}</h1></ng-template>

    <ul class="ul">
        
        <li *ngFor="let player of freePlayers" class="playerFree">
            <img src="{{ player.profile.profilPicture }} " alt="pp" style="width: 80px; height: 80px">
            {{ player.name }} 
            {{ player.profile.rank }}
            {{ player.profile.discord }}
            {{ player.profile.inGameName}}
            <button class="btn btn-primary" (click)="OnInvitePlayer(player.id, data.teamID);" *ngIf="!alreadyInvited(player.name)"  >Inviter</button>
            <span id="alreadyInvited" *ngIf="alreadyInvited(player.name)">En attente de la réponse</span>
        </li>

        
    </ul>

    
</ng-container>

<ng-container *ngIf="freePlayers && freePlayers.length === 0">
    
    <div class="noPlayerFound">
        <fa-icon [icon]="faFaceFrown"></fa-icon> Mince...Aucun joueur disponible pour le poste  de {{ data.role | uppercase }}
    </div>


</ng-container>

<button mat-button mat-dialog-close class="btn btn-danger">Fermer</button>
