
ul.ul{
    list-style: none;

}

h1{
    text-align: center;
}

li{
    height: 120px;

}

.noPlayerFound{
    display: flex;

}

#alreadyInvited{
    background-color: var(--firstColor);
    border-radius: 5px;
    color: white;
    padding: 6px;
    margin-left: 6px;

}